.touritem__content{
    margin-bottom: 100px;
    margin-top: 75px;
}

.touritem__content-slider-img {

  width: 100%;
  height: 417px;
  object-fit:cover;
}
.styles-module_carousel-arrow__26sRw{
  display: none;
}

.touritem__place i{
  margin-right: 10px;
}

.touritem__content-wrap {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}
.touritem__content-wrap-info {
  width: 50%;
}
.touritem__name {
  font-size: 31px;
  line-height: normal;
  font-weight: bold;
  color: var(--text-color);
  margin: 40px 0;
}

.touritem__place {
  font-weight: 300;
  color: var(--text-color);
  margin-bottom: 44px;
}

.touritem__content-wrap-booking {
  width: 350px;
  height: 300px;
  padding: 20px;
  border: 2px solid rgb(240, 236, 236);
  position: relative;
  border-radius: 8px;
}

.touritem__content-booking-price {
  font-size: 26px;
  font-weight: 600;

}

.touritem__content-booking-btn{
    width: 305px;
    height:50px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(
        to right, 
        #f66938,
        #f7944d);
        border: none;
        position: absolute;
        bottom: 30px;
}



.touritem__content-booking-btn {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.touritem__content-booking-btn{
    margin: 10px 0px;
    padding: 10px 45px;
    text-align: center;

    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    cursor: pointer;
  }
 
  .touritem__content-booking-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

  .touritem__content-wrap-feature{
    max-width: 1100px;
    margin: 0 auto;
  }

  .touritem-feature__name{
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color);

    margin: 20px 0;
  }

  .touritem-feature__name__desc{
      font-size: 15px;
      margin-bottom: 10px;
  }

  .touritem-feature__list{
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }

  .touritem__content-booking-errorcode{
    color:red;
    width: 400px;
  }

  /* Hotel */

  
.touritem__hotel {

  max-width: 1100px;
  margin: 0 auto;

  margin-bottom: 10px;
}



.touritem-hotel__name{
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);

  margin: 20px 0;
}
.feature-bold{
  
  font-weight: 400;
}
.touritem-hotelitem__name{
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);

  margin: 20px 0;
}
.touritem-hotel__name__desc{
    font-size: 15px;
    margin-bottom: 10px;
}

.touritem-hotel__list{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.touritem__content-wrap-hotel{
  display:flex;
  align-items: center;

}

.touritem__hotelitem-img{
  width:150px;
  height:150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.touritem__hotel-img-wrap{
 
  width:150px;
  height:150px;
  margin-right: 40px;
}

.touritem__some__hotel-container{
  margin-left: 10px;
  width:400px;
  height:300px;
}





.touritem__some__hotel-container:hover .touritem__some__hotel-decs {
  color: var(--hover-color);

}

.touritem__some__hotel-link {
  text-decoration: none;

}

.touritem__some__hotel-img {
  width: 100%;
  border-radius: 5px;
}

.touritem__some__hotel-label {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
}

.touritem__some__hotel-decs {
  color: #888;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 10px;
  transition: all 0.5s;

}

.touritem__content-booking-vehicle{
  margin-top: 10px;
}

.touritem-feature__table{
  margin-bottom: 20px;
}

.feature-flex{
  display: flex;
  justify-content: space-between;
}
/* 

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.card-top {
  padding: 25px;
}
.card-title {
  font-weight: 500;
  margin-bottom: 25px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.card-user {
  display: flex;
  align-items: center;
}
.card-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.card-user-info {
  padding-left: 20px;
  flex: 1;
}
.card-user-top {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.card-user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.card-user-top ion-icon {
  color: #20e3b2;
  margin-left: 5px;
}
.card-user-game {
  color: #999;
  font-weight: 300;
  font-size: 13px;
}
.card-bottom {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-live {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ff6651;
}
.card-live span {
  margin-left: 10px;
  font-size: 14px;
}
.card-watching {
  font-size: 13px;
  color: #999;
  font-weight: 300;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-user,
.card-bottom {
  margin-top: auto;
  flex-shrink: 0;
}
.card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.cards {
  --spacing: 25px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
} */