
.home__pro__place-link {
    color: var(--white-color);
    font-size: 16px;
    display: block;
    position: relative;
    height: 100%;
}

.home__pro__place-link:hover {
    transform: translateY(-1px);
}

.home__pro__place-link:hover .home__pro__place-img {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 20%);
}

.home__pro__place-link:hover .home__pro__place-label {
    color: var(--hover-color);
}
.home__pro__place-link:hover .home__pro__place-decs {
    color: var(--hover-color);
}
.home__pro__place-link:hover .home__pro__place-decs-place {
    color: var(--hover-color);
}



.home__pro__place-img {
    height: 300px;
    border-radius: 5px;
    width: 250px;
 
}

.home__pro__place-title {
    position: absolute;
    bottom: 30px;
    left: 10px;
}


.home__pro__place-label {
    color: var(--white-color);
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 30px;
    width: 180px;
    transition: all 0.3s linear;
}

.home__pro__place-decs {
    color: var(--white-color);
    font-size: 16px;
    transition: all 0.3s linear;
}

.home__pro__place-decs-place {
    font-size: 16px;
    font-weight: 300;
    color: var(--white-color);
    transition: all 0.3s linear;
}