.vote-file-preview{
    width:80px;
    height:80px;
    
}

.close{
    display:block;
    content: 'x';
    z-index: 100;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }